body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.login-container {
    display: flex;
    height: 100vh;
}

.left-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000; /* O el color que prefieras */
}

.left-section img {
    max-width: 100%;
    height: auto;
}

.right-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white; /* Ajusta el color si es necesario */
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
    width: 100%;
    max-width: 300px; /* Ajusta el ancho del formulario */
    text-align: center;
}

h2 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.btn-custom {
    background-color: #ff0066;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

.btn-custom:hover {
    background-color: #e6005c;
}
